body{
    
}

img {
    max-width: 100%;
    height: auto;
}

.text {font-size: 1rem}
.hero {
  max-width:auto;
  margin:1rem auto;
  position: relative;
}
img {max-width:100%}
.text {
  background:rgba(255,255,255,0.5);
  position: absolute;
  color: blue;
  font-size: 3em;
  top:50%;
  left:30%;
  padding:1rem;
  transform:translateY(-50%);
}

@media screen and (max-width:680px){
  .text {font-size: 2.5rem}
}
@media screen and (max-width:540px){
  .text {
      font-size: 2rem;
      left: 25%;
  }
}
/*.fullScreen{*/
    
/*    position:fixed; */
/*    top: 70px; */
/*    margin-top: 10px;*/
/*    left:0px; */
/*    bottom:0px; */
/*    right:0px; */
/*    width:100%; */
/*    height:100%; */
/*    border:none;*/
/*    margin:0; */
/*    padding:0; */
/*    overflow:hidden; */
/*    z-index:999999;*/
    
/*}*/

.jumbotron{
  text-align:center;
  background-color: #ffeffe;
  border-radius: 5px;
  
}


