#navlist
{
  padding: 3px 0 3px 10px;
  margin-left: 0;
  margin-top: 2px;
  border-bottom: 1px solid #778;
  font: bold 12px Verdana, sans-serif;
}

#navlist li
{
  list-style: none;
  margin: 0;
  display: inline;
}

#navlist li a
{
  padding: 3px 0.5em;
  margin-left: 3px;
  border: 1px solid #778;
  border-bottom: none;
  background: #DDE;
  text-decoration: none;
}

#navlist li a:link { color: #448; }
#navlist li a:visited { color: #667; }

#navlist li a:hover
{
  color: #000;
  background: #AAE;
  border-color: #227;
}

#navlist li a#current
{
  background: white;
  border-bottom: 1px solid white;
}


#list
{
  margin        : 0;
  margin-top    : 0;
  padding       : 5px 0 0 0;
  border-bottom : 1px solid #000;
  background-color:#3E606F;
  height:25px;
}

#list ul, #list li
{
  margin          : 0;
  padding         : 5px 0 0 0;
  display         : inline;
  list-style-type : none;
}

#list a:link, #list a:visited
{
  float: left;
  line-height: 14px;
  font-weight: bold;
  margin: 0 10px 0 10px;
  text-decoration: none;
  color: #FFF;
}

#list a:link#current, #list a:visited#current, #list a:hover
{
  border-bottom: 4px solid #000;
  padding-bottom: 2px;
  background: transparent;
  color: #000;
}

#list a:hover { color: #FFF; }


.bottom ul
{
  margin          : 0;
  padding-left    : 0;
  display         : inline;
  float           : left;
}

.bottom ul li
{
  margin-left : 0;
	padding     : 3px 15px;
	border-left : 1px solid #F3F3F3;
	list-style  : none;
	display     : inline;  
}

.bottom ul li.first
{
  border-left : 0;
}